= tag.turbo_frame(id: id, class: 'c-memo') do
  .grid.mb-1
    .g-col-9
      %h1= memo.title
    .g-col-3.d-flex.justify-content-end
  = memo.content
  .d-flex.justify-content-end.mt-3
    = link_to edit_user_memo_path(current_user, memo), class: 'btn btn-primary edit-memo-link icon-btn me-3' do
      %i.bi.bi-pencil-square
    = link_to [current_user, memo], data: { turbo_method: 'delete', turbo_confirm: 'Are you sure?' },
                                    class: 'btn btn-danger icon-btn' do
      %i.bi.bi-trash3.text-white
