.c-prompt-form{ id:, data: { controller: 'prompt-form', action: 'my-channel:generateText@window->prompt-form#onGenerateText' } }
  = form_with model: [current_user, conversation], data: { 'prompt-form-target' => 'form' } do |form|
    = form.fields_for :generate_text_requests, generate_text_request do |gtr_fields|
      = gtr_fields.hidden_field :conversation_id, data: { 'prompt-form-target' => 'conversationId' }
      = gtr_fields.hidden_field :user_id, data: { 'prompt-form-target' => 'userId' }
      = gtr_fields.hidden_field :text_id, data: { 'prompt-form-target' => 'textId' }
      = hidden_field_tag :show_options, show_options?, data: { 'prompt-form-target' => 'showOptionsInput' }
      .grid{ style: '--bs-gap: 0.5rem;'}
        .g-start-2.g-col-11.form-container
          .options.d-flex.justify-content-start.align-items-center
            .mb-2
              %button.btn.fs-6.options-toggle-btn.p-0.mx-2{ 'data-bs-toggle' => 'collapse',
                                                   'data-bs-target' => '#advanced-options',
                                                   'data-prompt-form-target' => 'showOptionsButton',
                                                   'data-action' => 'click->prompt-form#onClickShowOptions:prevent' }
                %i.bi.bi-chevron-up{ data: { 'bs-toggle' => 'tooltip', 'bs-title' => 'toggle options' }}
            .collapse.mb-2#advanced-options{ class: show_options? && 'show', data: { 'prompt-form-target' => 'options' } }
              .grid
                .g-col-3
                  .form-floating
                    = gtr_fields.collection_select :model, GenerativeText::Anthropic::MODELS.values, :api_name, :name, {},
                    { class: 'form-select', data: { 'prompt-form-target' => 'modelSelect' } }
                    = gtr_fields.label :model, 'Model'
                .g-col-2
                  .form-floating
                    = gtr_fields.collection_select :generate_text_preset_id, GenerateTextPreset.all, :id, :name, { include_blank: true },
                      { class: 'form-select', data: { 'prompt-form-target' => 'presetSelect' } }
                    = gtr_fields.label :generate_text_preset_id, 'Preset'
                .g-col-1
                  .form-floating
                    = gtr_fields.select :temperature, helpers.temp_select_options, {},
                    { class: 'form-select', data: { 'prompt-form-target' => 'temperatureSelect' } }
                    = gtr_fields.label :temperature, 'Temp'
          .grid.prompt-input-container
            .g-col-12.position-relative
              = gtr_fields.text_area :prompt, class: 'form-control', data: { 'prompt-form-target' => 'promptInput' },
                                     placeholder: 'Type a message', rows: 2
              %button.btn.icon-btn{type: 'submit', name: 'commit', data: { 'prompt-form-target' => 'submitButton' },
                                   disabled: disabled?}
                %i.bi.bi-send-fill
            .g-col-12.details-fields.p-0
              %div.d-flex.align-items-center.justify-content-end.mt-1
                %span.label.me-2 Tokens:
                %pre.value= conversation.token_count
