= tag.turbo_frame(id: id) do
  = form_with model: [current_user, memo],
    data: { controller: 'memo-form', action: 'color-picker:colorChosen->memo-form#onColorChosen color-picker:colorRemoved->memo-form#onColorRemoved' },
    html: { class: 'c-memo-form p-3', style: border_styles } do |form|
    .grid
      .g-col-10
        = form.text_field :title, class: 'form-control', placeholder: 'Title'
      .g-col-2.d-flex.justify-content-between.align-items-end
        = render ColorPickerComponent.new(**color_picker_options)
        %button.btn.btn-primary.icon-btn{type: :submit, name: :commit,
                                         data: { action: 'click->memo-form#onSubmit:prevent',
                                                 'bs-toggle' => 'tooltip',
                                                 'bs-title' => t('save'),  } }
          %i.bi.bi-floppy-fill.text-white
        - if memo.persisted?
          = link_to user_memo_path(current_user, memo), class: 'btn btn-secondary icon-btn',
          data: { 'bs-toggle' => 'tooltip', 'bs-title' => t('back'), action: 'click->memo-form#onBack'} do
            %i.bi.bi-backspace.text-white
        - else
          %button.btn.icon-btn.flex-grow-0{data: { controller: 'modal-closer' }}
            %i.bi.bi-x-lg
    %div.mt-3{ class: [memo.errors[:content].present? && 'field_with_errors'] }
      = render WysiwygEditorComponent.new(object: memo, method: :content)

