= tag.turbo_frame(id: id) do
  = form_with model: [current_user, memo],
    data: { controller: 'memo-form',
            action: 'color-picker:colorChosen->memo-form#onColorChosen color-picker:colorRemoved->memo-form#onColorRemoved wysiwyg-editor:generatedTextInserted->memo-form#onGeneratedTextInserted wysiwyg-editor:generatedImageInserted->memo-form#onGeneratedImageInserted',
    'memo-id' => memo.id,
    'conversation-id' => conversation&.id },
    html: { class: 'c-memo-form p-3', style: border_styles } do |form|
    .grid
      .g-col-12.g-col-xl-10
        = form.text_field :title, class: 'form-control', placeholder: 'Title'
      .g-col-6.g-start-7.g-col-sm-5.g-start-sm-8.g-col-xl-2.d-flex.justify-content-between.align-items-end
        = render ColorPickerComponent.new(**color_picker_options)
        %button.btn.btn-primary.icon-btn{type: :submit, name: :save,
                                         data: { action: 'click->memo-form#onSubmit:prevent',
                                                 'bs-toggle' => 'tooltip',
                                                 'bs-title' => t('save'),  } }
          %i.bi.bi-floppy-fill.text-white
        - if memo.persisted?
          = link_to user_memo_path(current_user, memo), class: 'btn btn-secondary icon-btn',
          data: { 'bs-toggle' => 'tooltip', 'bs-title' => t('back') } do
            %i.bi.bi-backspace.text-white
        - else
          %button.btn.icon-btn.flex-grow-0{data: { controller: 'modal-closer' }}
            %i.bi.bi-x-lg
    %div{ class: [memo.errors[:content].present? && 'field_with_errors'] }
      = render WysiwygEditorComponent.new(object: memo, method: :content)

