= tag.turbo_frame(id: id) do
  = form_with model: [current_user, memo], data: { controller: 'memo-form', action: 'color-picker:colorChosen->memo-form#onColorChosen' },
    html: { class: 'c-memo-form p-3', style: color_style } do |form|
    .grid
      .g-col-10
        = form.text_field :title, class: 'form-control', placeholder: 'Title'
      .g-col-2.d-flex.justify-content-between.align-items-end
        = render ColorPickerComponent.new(swatches:, default_color:, **color_picker_options)
        %button.btn.btn-primary.icon-btn{type: :submit, name: :commit, data: { action: 'click->memo-form#onSubmit:prevent' } }
          %i.bi.bi-floppy-fill.text-white
        - if memo.persisted?
          = link_to user_memo_path(current_user, memo), class: 'btn btn-secondary icon-btn' do
            %i.bi.bi-backspace.text-white
        - else
          %button.btn.icon-btn.flex-grow-0{data: { controller: 'modal-closer' }}
            %i.bi.bi-x-lg
    %div.mt-3{ class: [memo.errors[:content].present? && 'field_with_errors'] }
      = render WysiwygEditorComponent.new(object: memo, method: :content)

