= tag.turbo_frame(id: id, class: 'c-memo-form', data: { controller: 'memo-form' }) do
  = form_with model: [current_user, memo] do |form|
    - if memo.errors.any?
      .form-errors
        %ul
          - memo.errors.each do |e|
            %li= e.full_message
    = form.rich_text_area :content
    .inline-action.btn-group.d-flex.justify-content-end.my-3{'role' => :group, 'aria-label' => 'Memo Form'}
      = form.submit submit_value, class: 'btn btn-outline-primary flex-grow-0'
      - if memo.persisted?
        = link_to "Cancel", user_memo_path(current_user, memo), class: 'btn btn-outline-secondary flex-grow-0'
      - else
        %button.btn.btn-outline-secondary.flex-grow-0{'data-action' => "click->memo-form#cancel:prevent"} Cancel

