.c-blob{id: id, data: { controller: :blob }, class: [audio? && 'w-50 d-inline-block']}
  %figure{class:  "attachment attachment--#{representable? ? 'preview' : 'file'} attachment--#{filename.extension}"}
    - if audio?
      .audio-player.d-flex
        %div.w-100
          %audio.w-100{controls: true, preload: :metadata, data: { 'blob-target' => :audio }}
            %source{src: url, type: content_type}
          = fig_caption
          - if transcription_job.present?
            %turbo-frame.transcription-container{ data: { 'blob-target' => 'transcriptionSection' },
                                                  id: dom_id(transcription_job) }
              = render TranscriptionJobComponent.new(transcription_job:, user:)
    - elsif representable?
      = render MoreInfoComponent.new(id: "blob_details_#{dom_id(blob)}", src: blob_detail_path(blob)) do |component|
        = component.with_wrapped do
          = image_tag representation(resize_to_limit: resize_to_limit)
      = fig_caption
