.c-conversation-turn{ id: }
  .turn.grid.mb-3
    .g-col-1.d-flex.justify-content-center
      %i.bi-person-fill.fs-1
    .g-col-11
      .card.segment{ class: "segment-user" }
        .card-body
          = prompt
  .turn.grid.mb-3
    .g-col-1.d-flex.justify-content-center
      %i.bi-robot.fs-1
    .g-col-11
      .card.segment.segment-assistant
        .card-body
          - if created? || in_progress?
            .text-center
              = render SpinnerComponent.new
          - elsif failed?
            = t('failed_to_generate_text')
          - else
            .tool-tray
              = render ClipboardComponent.new(css_class: 'assistant-response', position: :bottom) do |clipboard|
                = clipboard.with_copyable do
                  %div{ data: { 'clipboard-target' => 'source' } }= assistant_response.html_safe
              %i.bi-info-square
