.container.mt-2
  .grid.mb-4
    .g-col-6.mb-2
      = link_to 'New Conversation', new_user_conversation_path(current_user), class: 'btn btn-primary'
    .g-col-6
      = form_with(url: user_conversations_path(current_user), method: :get, class: 'form-inline justify-content-end') do |f|
        .input-group
          = f.text_field :query, placeholder: 'Search conversations', class: 'form-control'
          = f.submit 'Search', class: 'btn btn-outline-secondary'

  = render PaginationComponent.new(path: [:user_conversations_path, current_user]) do |pagination|
    = pagination.with_container do
      #conversations.list-group

