= turbo_stream.replace 'conversation-title' do
  = render partial: 'conversations/title_form', locals: { conversation: }, formats: [:html]
- if generate_text_request
  = turbo_stream.append 'conversation-turns' do
    = render ConversationTurnComponent.new(generate_text_request:)
  = turbo_stream.replace 'prompt-form' do
    = render PromptFormComponent.new(conversation:, show_options:, disabled: true)
