= turbo_stream.replace 'conversation-title' do
  = render partial: 'conversations/title_form', locals: { conversation: }, formats: [:html]
- if generate_text_request
  = turbo_stream.append 'conversation-turns' do
    = render ConversationTurnComponent.new(conversation_turn: generate_text_request.conversation_turn)
  = turbo_stream.replace PromptFormComponent::ID do
    = render PromptFormComponent.new(conversation:, last_request: generate_text_request)
