.c-transcription#transcription
  %p
    %button.btn.btn-secondary.px-2.py-1.text-white{
      id: dom_id(transcription_job),
      class: [status, 'mb-3', ('p-pulse' if status.in?(%w[queued, in_progress]))],
      type: :button,
      data: { 'bs-toggle' => 'collapse', 'bs-target' => "##{transcription_dom_id}" },
      'aria-expanded' => false,
      'aria-controls' => transcription_dom_id
      }
      = "Transcription #{status}".humanize
  - if completed_transcription?
    .collapse.mb-3{ id: transcription_dom_id }
      .card
        .card-header
          .row
            .col-9
              %h5.card-title= "Transcription of #{filename}"
              %p.card-subtitle.text-body-secondary.mb-2= 'Download to save a copy'
            .col-3.position-relative
              %button#download-transcript.btn.btn-outline-secondary.position-absolute.end-0 Download
          .row
            %ul.nav.nav-tabs.card-header-tabs
              %li.nav-item
                %a.nav-link.active#text-tab{
                    data: { 'bs-toggle' => 'tab', 'bs-target' => "##{text_dom_id}" },
                    type: :button,
                    role: :tab,
                    aria: { controls: 'text-tab', selected: true }
                  } Text
              %li.nav-item
                %a.nav-link#speaker-tab{
                  data: { 'bs-toggle' => 'tab', 'bs-target' => "##{speakers_dom_id}" },
                  type: :button,
                  role: :tab,
                  aria: { controls: 'text-tab', selected: false },
                } Speaker ID
        .card-body.tab-content.p-3
          .card-text.tab-pane.fade.active.show{ id: text_dom_id }= content
          .card-text.tab-pane.fade{ id: speakers_dom_id }
            - diarized_results.each do |result|
              .row
                .col-2= speaker_from_label(result.speaker)
                .col-10= result.content

