= form_with model: [current_user, message] do |form|
  = render InlineFieldComponent.new(model: [current_user, message], attribute: :content, form: form) do |component|
    = component.with_field_slot do
      = form.label :content
      = form.rich_text_area :content
  .field
    = form.submit
