= tag.turbo_frame(id: id) do
  = form_with model: [current_user, message] do |form|
    = form.rich_text_area :content
    = form.submit t('message.update'), class: 'btn btn-primary flex-grow-0'
    .inline-action
      = link_to t('cancel'), user_message_path(current_user, message), class: 'btn btn-outline-secondary'

