.c-memo-card.card.g-col-12.g-col-md-6.g-col-lg-4{ id: id,
                                                  data: { controller: 'modal-opener memo-card',
                                                          modal: ModalComponent.id,
                                                          'modal-hide-header': true,
                                                          'modal-src': user_memo_path(current_user, memo.id) } }
  .card-header{ style: background_style }
    %h4.card-title.m-0= title
  .card-body
    .grid
      .g-col-6
        %p.card-subtitle.text-body-secondary.fs-6= "Created #{created_at} ago"
      .g-col-6
        %p.card-subtitle.text-body-secondary.fs-6= "Updated #{updated_at} ago"
    %p.card-text.mt-2{data: { 'bs-toggle' => 'tooltip',
                              'bs-title' => continued_preview_text,
                              'bs-placement' => 'bottom',
                              'memo-card-target' => 'cardText' }} #{preview_text}...
