.c-memo-card.card.text-bg-light.g-col-12.g-col-md-6.g-col-lg-4{ id: id,
                                                                data: { controller: 'modal-opener',
                                                                        modal: '#memo-modal',
                                                                        src: user_memo_path(current_user, memo.id) }}
  .card-body
    .grid
      .g-col-12
        %h4.card-title= title
        %h6.card-subtitle.text-body-secondary.mb-2= "Created #{created_at} ago"
        %h6.card-subtitle.text-body-secondary.mb-2= "Updated #{updated_at} ago"
    %p.card-text= preview_text
