.c-memo-card.card.g-col-12.g-col-md-6.g-col-lg-4{ id: id,
                                                  style: background_body_style,
                                                  data: { controller: 'modal-opener memo-card',
                                                          'memo-id' => memo.id,
                                                          modal: ModalComponent.id,
                                                          'modal-hide-header': true,
                                                          'modal-src': user_memo_path(current_user, memo.id) } }
  .card-header{ style: background_style, class: font_class }
    %h4.card-title.m-0= title
  .card-body{class: font_class }
    .grid
      .g-col-6
        %p.card-subtitle= "Created #{created_at} ago"
      .g-col-6
        %p.card-subtitle= "Updated #{updated_at} ago"
    %p.card-text.mt-2{data: { 'memo-card-target' => 'cardText' }.compact } #{preview_text}...
  .card-footer.d-flex.justify-content-end{ style: background_style }
    %button.btn.icon-btn{ type: :button, class: font_class }
      %i.bi.bi-file-earmark-image
      %span.badge.rounded-pill.text-bg-success 3
    %button.btn.icon-btn{ type: :button, class: font_class }
      %i.bi.bi-file-earmark-play
      %span.badge.rounded-pill.text-bg-success 3
    %button.btn.icon-btn{ type: :button, class: font_class }
      %i.bi.bi-file-earmark-music
      %span.badge.rounded-pill.text-bg-success 3
    %button.btn.icon-btn{ type: :button, class: font_class }
      %i.bi.bi-file-earmark
      %span.badge.rounded-pill.text-bg-success 3
