.c-memo-card.card.text-bg-light.g-col-4
  .card-body
    .grid
      .g-col-9
        %h4.card-title= title
        %h6.card-subtitle.text-body-secondary.mb-2= "Created #{created_at} ago"
        %h6.card-subtitle.text-body-secondary.mb-2= "Updated #{updated_at} ago"
      .g-col-3.text-end
        %button.btn.btn-outline-secondary{data: { "bs-toggle" => "modal",
                                                  "bs-target" => "#memo-modal",
                                                  controller: 'modal-button',
                                                  action: 'click->modal-button#openModal',
                                                  title: title,
                                                  src: user_memo_path(current_user, memo.id) }}
          %i.bi-arrows-angle-expand
    %p.card-text= preview_text
