.c-transcription-summary{ id: id, data: { controller: 'transcription-summary' } }
  - if summary
    - if generating_summary?
      .alert.alert-info.py-1.my-1.text-center{role: :alert, class: [summary.status, 'i-pulse']}= t('summary.generating')
    - elsif failed?
      .alert.alert-warning.py-1.my-1.text-center{role: :alert, class: [summary.status]}= t('summary.failed')
    - elsif bullet_points?
      %ul
        - bullet_points.each do |bp|
          %li= bp
    - else
      = content
  - else
    = button_to(user_transcription_summaries_path(current_user),
    { method: :post, params: { transcription_summary: { transcription_id: transcription.id } },
      class: 'btn btn-secondary text-white px-2 py-1' }) do
      = t('summary.create')
