.c-generate-image-request{ id:, data: { controller: 'generate-image-request tooltip' } }
  .turn.grid.mb-3
    .g-col-1.d-flex.justify-content-center
      %i.bi-robot.fs-1
    .g-col-11
      .card
        .card-body
          - if created? || in_progress?
            .text-center
              = render SpinnerComponent.new
          - elsif failed?
            = t('failed_to_generate_image')
            = link_to '#',
              class: 'float-end fs-5',
              data: { turbo_method: 'delete', turbo_confirm: t('confirm'),
                    'bs-toggle' => 'tooltip',
                    'bs-title' => t('delete', name: t('response')) } do
              %i.bi-trash3.text-black
          - else
            .generated-image.mb-3
              = image_tag image.variant(**variant_options), class: 'w-100'

            .tool-tray.d-flex.justify-content-between.align-items-center
              .buttons.d-flex.align-items-center
                = link_to blob_path(image.blob), data: { turbo: false, 'bs-toggle' => 'tooltip', 'bs-title' => t('download_image') }, class: 'me-2' do
                  %i.bi.bi-download.text-black.fs-5
                %button.btn.icon-btn.icon-btn-sm.more-info.me-2{ data: { 'generate-image-request-target' => 'moreInfo',
                                                                 src: blob_detail_path(image.blob)  } }
                  %i.bi-info-square{ data: { 'bs-toggle' => 'tooltip', 'bs-title' => 'Info' } }
              .delete.justify-content-end.align-items-center
                = link_to '#',
                  class: 'float-end fs-5',
                  data: { turbo_method: 'delete', turbo_confirm: t('confirm'),
                        'bs-toggle' => 'tooltip',
                        'bs-title' => t('delete', name: t('image')) } do
                  %i.bi-trash3.text-black
