%div{ id: id, class: ['c-message', 'list-group-item'] }
  = tag.turbo_frame(id: id, class: 'inline-edit') do
    = link_to user_message_path(current_user, message), target: '_top', class: 'message-link text-body link-opacity-50-hover' do
      = message.content
    = link_to t('message.edit'), edit_user_message_path(current_user, message), class: 'btn btn-outline-primary'
    = link_to 'Delete', [current_user, message], data: { turbo_method: 'delete', turbo_confirm: 'Are you sure?' }
