.memos-index
  = turbo_stream_from current_user, TurboStreams::STREAMS[:blobs]
  = render ModalComponent.new(size: :xl)
  .container
    %button.btn.btn-primary.mb-3{ data: { controller: 'modal-opener',
                                          modal: ModalComponent.id,
                                          src: new_user_memo_path(current_user) } }
      = t('memo.new')
  .container
    = render PaginationComponent.new(path: [:user_memos_path, current_user]) do |pagination|
      = pagination.with_container do
        #memos.grid.grid-auto-height

