!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Tmp
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = action_cable_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", defer: true
    = hotwire_livereload_tags if Rails.env.development?
  %body
    %nav.navbar.navbar-expand-lg.bg-dark.p-0
      .container
        = link_to root_path, class: 'logo navbar-brand' do
          = render inline: Rails.application.assets.find_asset('tmp.svg').source
      - if current_user
        .container.collapse.navbar-collapse.justify-content-center{ data: { controller: 'my-channel' } }
          %ul.navbar-nav
            %li.nav-item
              = link_to "Memos", user_memos_path(current_user), class: 'nav-link text-light'
            %li.nav-item
              = link_to "Conversations", user_conversations_path(current_user), class: 'nav-link text-light'
            %li.nav-item
              = link_to "Settings", user_path(current_user), class: 'nav-link text-light'
      .container-fluid.justify-content-end
        - if current_user
          = link_to 'Sign Out', destroy_user_session_path, method: :delete, data: { turbo: false }
    .container-sm
      .flash-message.d-flex.justify-content-center
        %p.alert-info= notice
        %p.alert-warning= alert
      #alert-stream
      = yield
