.container
  .grid
    .g-col-4.g-start-5
      %h2 Sign up
      = form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: false }) do |f|
        = render "users/shared/error_messages", resource: resource
        .field
          = f.label :email, class: 'form-label'
          = f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control'
        .field
          = f.label :password, class: 'form-label'
          - if @minimum_password_length
            %em
              (#{@minimum_password_length} characters minimum)
          = f.password_field :password, autocomplete: "new-password", class: 'form-control'
        .field
          = f.label :password_confirmation, class: 'form-label'
          %br/
          = f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control'
        .actions
          = f.submit "Sign up", class: 'btn btn-primary w-100 mb-2 mt-2'
      = render "users/shared/links"
